body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-weight: lighter;
	font-size: 14px;
	line-height: $font__line-height-body;
}

h3 {
	font-size: 18px;
	font-weight: normal;
}

@import "headings";

@import "copy";
